{% extends 'base.html'%}


{% block content %}
    {% if current_user.is_authenticated %}
    <br>
    <form method="post" enctype="multipart/form-data" >
        <label for="file">Upload</label>
            <input type="file" name="file" id="file" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="Upload">

        <span class="float-right">
        {% set spaceLeft = storage.available * 100/ storage.total %}
        Space Left: ({{'%0.5f' % spaceLeft| float }}%)
    </span>
    </form>


    {% endif %}

    <ul class="movie-list">
        {% for f in files %}
            <li>
                {{f.name}}
                <span class="float-right">

                    {% if current_user.is_authenticated %}

                        <form class="inline-form" method="post" action="{{url_for('delete_file', file_id=f.id) }}">
                            <input class="btn" type="submit" name="deletefile" value="DeleteFile" onclick="return confirm('Are you sure?')">
                        </form>
                    {% set percentage = f.size * 100 / storage.total %}
                    ({{'%0.2f' % percentage | float }}%)
                    {% endif %}
                </span>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
