        {% extends 'base.html' %}
        {%block content%}
        <p>{{ movies|length}} Titles</p>

        <form method="post">
            <label for="title">Title</label>
                <input type="text" name="title" id="title" autocomplete="off" required>

            <label for="year">Year</label>
                <input type="text" name="year" id="year" autocomplete="off" required>
            <input class="btn" type="submit" name="submit" value="Add">
        </form>

        <ul class="movie-list">
            {%for movie in movies%}
                {#same as movie['title'] #}
                <li>
                    {{movie.title}} - {{movie.year}}
                    <span class="float-right">
                        <a class="imdb" href="https://www.imdb.com/find?q={{movie.title}}" target="_blank" title="Find this movie on IMDB">IMDB</a>
                    </span>
                </li>
            {% endfor %}
        </ul>

        <img alt="walking totoro" class="totoro" src="{{url_for('static', filename='images/totoro.gif') }}">

        {% endblock %}